
@model FirstDay.ViewModels.ItemViewModel
@{
    ViewBag.Title = "Add";
    var selectList = new SelectList(ViewBag.Categories, "Id", "Name");
}

<h2>Add</h2>
@using (Html.BeginForm("Add", "Items", FormMethod.Post, new { @class = "my-5" }))
{
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        @Html.TextBoxFor(e => e.Name, new { @class = "form-control" })
        @*<input class="form-control" id="name" type="text" name="search" />*@
    </div>
    <div class="mb-3">
        <label for="categoryId" class="form-label">Category</label>
        @Html.DropDownList("categoryId", selectList, "select a category", new { @class = "form-control" })
    </div>
    <div class="mb-3">
        <label for="count" class="form-label">Count</label>
        @Html.TextBoxFor(e => e.Count, new { @class = "form-control" })
        @*<input class="form-control" id="count" type="number" name="count" />*@
    </div>
    <button class="btn btn-primary" type="submit">Add</button>
}

