@model FirstDay.ViewModels.ItemList
@{
    ViewBag.Title = "Index";
    var selectList = new SelectList(ViewBag.Categories, "Id", "Name");

}

<h2>Index</h2>

<form class="my-5" id="search-form">
    <div class="mb-3">
        <label for="search" class="form-label">Name</label>
        <input class="form-control" id="search" type="text" name="search" />
    </div>
    <div class="mb-3">
        <label for="categoryId" class="form-label">Category</label>
        @Html.DropDownList("categoryId", selectList, "select a category", new { @class = "form-control",@id="category" })
    </div>

    <button class="btn btn-primary" type="submit">Search</button>
</form>

@*<td><button type="button" class="btn btn-success">@Html.ActionLink("Add", "Add", new {},new { @class = "text-light text-decoration-none" })</button></td>*@
<button type="button" class="btn btn-success">@Html.ActionLink("Add", "Form", new {},new { @class = "text-light text-decoration-none" })</button>
<div id="items">

    @Html.Partial("ItemsResult")
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            function registerDeleteEvents() {
                $(".delete-button").click(function () {
                    if (!confirm("Do you want to delete")) {
                        return false;
                    } else {
                        const id = $(this).attr("id");
                        $.get("https://localhost:44396/Items/Delete", {
                            id: id
                        }).done(function () {
                            $.post("https://localhost:44396/Items/Index")
                                .done(function (data) {
                                    $("#items").html(data);
                                })
                        });
                    }
                });
            }
            registerDeleteEvents();
            $("#search-form").submit(function (e) {
                e.preventDefault();
                e.stopPropagation();
                const search = $("#search").val();
                const categoryId = $("#category").val();
                const params = {};
                if (search) {
                    params.search = search;
                }
                if (categoryId) {
                    params.categoryId=categoryId
                }
                console.log(search, categoryId, params);
                $.post("https://localhost:44396/Items/Index", params)
                    .done(function (data) {
                        $("#items").html(data);
                        registerDeleteEvents();
                })
            })
            
        });
    </script>
    }